<!DOCTYPE html>
<head>
<title> Current Month data </title>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

<!-- jQuery library, bootstrap and datatables-->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script scr="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<% include ../partials/header %>
</head>

<body>
<div class="container">
<div class="table table-responsive">
				<table id="myTable" class="table table-striped table-bordered table-dark table-hover">
					<thead class="thead-inverse">
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Tag</th>
							<th>Week 1 given</th>
							<th>Week 1 received</th>
							<th>Week 2 given</th>
							<th>Week 2 received</th>
							<th>Week 3 given</th>
							<th>Week 3 received</th>
							<th>Week 4 given</th>
							<th>Week 4 received</th>
							<th>Week 5 given</th>
							<th>Week 5 received</th>
						</tr>
					</thead>
					
					<tbody>
					<% rows.forEach((player) => {%>
					<tr>
						<td><%= player.sr %></td>
						<td><%= player.name %></td>
						<td><%= player.tag %></td>
						<td><%= player.week1given %></td>
						<td><%= player.week1received %></td>
						<td><%= player.week2given %></td>
						<td><%= player.week2received %></td>
						<td><%= player.week3given %></td>
						<td><%= player.week3received %></td>
						<td><%= player.week4given %></td>
						<td><%= player.week4received %></td>
						<td><%= player.week5given %></td>
						<td><%= player.week5received %></td>
					</tr>
					<% }) %>
					</tbody>
				</table>
			</div>
</div>

<script>
$(document).ready(function() 
    { 
        $("#myTable").DataTable(); 
    } 
); 
</script>

</body>
</html>
